.clase-navbar {
    background-color: rgb(192, 95, 176);
    padding: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .a-navbar {
    text-decoration: none;
    cursor: pointer;
    color: rgb(70, 18, 70);
    font-size: 1.2rem;
    font-weight: 700;

} */



.imagen-logo-tienda {
    width: 10rem;
    margin: 10px 20px;

}

.img-carrito {
    width: 3rem;
    margin: 50px 30px;
}

h1 {        
    text-align: center;
    margin-top: 40px;

}